.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #d5dbe1;
  color: #242424;
}

.App {
  height: 10rem;
}

.card-body {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.card_main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardbg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60rem;
}

.cardbg img {
  width: 60rem;
}

.image {
  position: absolute;
  top: 27%;
  left: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 13rem;
  height: 13rem;
  padding: 3rem;
  background-color: #ffffff;
}

.image img {
  width: 17rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.form-group textarea {
  background-color: #d5dbe1;
  color: #000000;
  font-size: 1rem;
  font-weight: 600;
}

.para {
  position: absolute;
  top: 30%;
  left: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34rem;
  height: 14rem;
  word-wrap: break-word;
}

.para p {
  color: #333333;
  font-weight: 700;
  font-size: 1.3rem;
  padding: 1rem;
  width: 32rem;
  text-align: left;
}

.PB-range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #7c7c7c;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.PB-range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000000;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.PB-range-slider::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.16);
  transition: 0.3s ease-in-out;
}

.PB-range-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000000;
  cursor: pointer;
}

.PB-range-slider-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 20rem;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #8b8b8b;
  box-shadow: 0px 1px 2px 0px #1f1e241f;
  margin: 1rem;
}

.PB-range-slidervalue {
  font-weight: 600;
}

.cropimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
}

@media screen and (max-width: 900px) {
  .cropimg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 10rem;
  }

  .form-group textarea {
    background-color: #d5dbe1;
    color: #000000;
    font-size: 1rem;
    width: 22rem;
    font-weight: 600;
    margin:1rem;
    margin-left: 0;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
  }
  .cardbg img {
    width: 22rem;
  }

  .image img {
    width: 6rem;
  }

  .image {
    position: absolute;
    top: 7%;
    left: 0%;
    display: flex;
    width: 13rem;
    height: 13rem;
    justify-content: center;
    align-items: center;
  }

  .card {
    justify-content: flex-start;
  }

  .para {
    position: absolute;
    top: 2%;
    left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34rem;
    height: 14rem;
    word-wrap: break-word;
  }

  .para p {
    color: #333333;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 1rem;
    width: 10rem;
    text-align: left;
  }
}
